<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <clear />
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <clear />
    <add key="SMART.factory" value="http://factory.smartadserver.com/ngsvr/nuget" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
  <activePackageSource>
    <clear />
    <add key="SMART.factory" value="http://factory.smartadserver.com/ngsvr/nuget" />
  </activePackageSource>
</configuration>