name: .NET Core

on: [push]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        # setup build environment
        - name: info
          run: echo 'Building ${{ github.ref }}'

        - uses: actions/checkout@v2

        - name: Setup .NET Core
          uses: actions/setup-dotnet@v1
          with:
              dotnet-version: 6.0.100

        # build
        - name: Build
          run: make publish-trimmed config=Release

        # publish artifacts
        - name: Upload win10 artifact
          uses: actions/upload-artifact@v1
          with:
              name: win10
              path: ./out/win10.zip

        - name: Upload osx artifact
          uses: actions/upload-artifact@v1
          with:
              name: osx
              path: ./out/osx.zip

        - name: Upload linux artifact
          uses: actions/upload-artifact@v1
          with:
              name: linux
              path: ./out/linux.zip

    publish:
        if: contains(github.ref, 'refs/tags/')
        needs: build
        runs-on: ubuntu-latest

        steps:
        # first download artifacts
        - name: Download win10 artifact
          uses: actions/download-artifact@v1
          with:
              name: win10

        - name: Download osx artifact
          uses: actions/download-artifact@v1
          with:
              name: osx

        - name: Download linux artifact
          uses: actions/download-artifact@v1
          with:
              name: linux

        - name: info
          run: ls -alR

          # create a release
        - name: Create Release
          id: create_release
          uses: actions/create-release@v1.0.0
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              tag_name: ${{ github.ref }}
              release_name: Release ${{ github.ref }}
              draft: false
              prerelease: false

        # publish assets
        - name: Upload Release Asset
          uses: actions/upload-release-asset@v1.0.1
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              upload_url: ${{ steps.create_release.outputs.upload_url }}
              asset_path: win10/win10.zip
              asset_name: win10.zip
              asset_content_type: application/zip

        - name: Upload Release Asset
          uses: actions/upload-release-asset@v1.0.1
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              upload_url: ${{ steps.create_release.outputs.upload_url }}
              asset_path: osx/osx.zip
              asset_name: osx.zip
              asset_content_type: application/zip

        - name: Upload Release Asset
          uses: actions/upload-release-asset@v1.0.1
          env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
              upload_url: ${{ steps.create_release.outputs.upload_url }}
              asset_path: linux/linux.zip
              asset_name: linux.zip
              asset_content_type: application/zip
